.typefx-container::after {
  content: "\200B";
  visibility: hidden;
  user-select: none;
  pointer-events: none;
}
.typefx-caret {
  position: absolute;
  display: inline-block;
  overflow: visible;
  width: 0px;
}
.typefx-caret::after {
  width: 0px;
  border-left: var(--typefx-caret-width) solid var(--typefx-caret-color);
  overflow: visible;
  content: "";
  position: relative;
}
.typefx-caret.typefx-caret-blink {
  animation: typefx-caret-blink 0.9s steps(1, end) infinite;
}
.typefx-caret.typefx-caret-hidden {
  display: none;
}
.typefx-char {
  display: inline-block;
  white-space: pre;
}
.typefx-selected {
  background-color: #00000044;
}
@keyframes typefx-caret-blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
